#wrap{min-width:1260px;min-height:100%;}
#header{position:fixed;left:0;top:0;z-index:2000;width:100%;-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
#header.bg1{border-bottom:1px solid rgba(255,255,255,0.03);background:rgba(31,32,45,0.95);-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
#header.skrollable-after{border-bottom:1px solid rgba(255,255,255,0.03);background:rgba(31,32,45,0.95);-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.dimm #header.bg1{border-bottom:none;background:none;-webkit-transition-duration:0s;transition-duration:0s;-webkit-transition-timing-function:ease;transition-timing-function:ease}/* 190430 추가 */
#header .top{position:relative}
#header h1.logo{display:inline-block;overflow:hidden}
#header .krafton{display:block;width:60px;height:47px;margin:26px 40px;background:url(/kr/img/common/sp_ico.svg) 0 0 no-repeat;background-size:166px 247px ;text-indent:-9999px;vertical-align:top}
#header .gnb{overflow:hidden;position:absolute;right:0;top:0}
#header .gnb ul{overflow:hidden;float:left;position:relative;padding-right:17px}
#header .gnb ul:after{content:'';display:block;position:absolute;right:0;top:50%;width:1px;height:18px;margin-top:-9px;background:rgba(255,255,255,0.1);vertical-align:top}
#header .gnb ul li{overflow:hidden;float:left;text-decoration:none}
#header .gnb ul li a{display:block;overflow:hidden;height:100px;padding:0 15px;color:#FFF;font-family:Camber,'Camber',sans-serif;font-size:15px;font-weight:500;line-height:101px}
#header .gnb ul li a:hover{text-decoration:underline}
#header .gnb #menu .txt{display:inline-block;overflow:hidden;float:left;height:100px;margin:0 15px;color:#FFF;font-size:15px;line-height:100px}
#header .gnb #menu{overflow:hidden;height:100px;margin-right:22px;padding:0 15px}
#header .gnb #menu:hover{text-decoration:underline}
#header .gnb #menu:before{content:'전체메뉴';display:inline-block;height:100px;margin:0 15px;color:#FFF;font-size:15px;line-height:100px;vertical-align:middle}
#header .gnb #menu:hover:before{text-decoration:underline}
#header .gnb #menu .hamburger{display:inline-block;vertical-align:middle}
#header .gnb #menu span{display:block;overflow:hidden;width:36px;height:2px;background:#FFF;margin:6px auto;transition:all 0.5s}
#header .gnb #menu.on span:nth-child(1){transform:translateY(8px) rotate(225deg);-webkit-transition-delay:0.1s;transition-delay:0.1s}
#header .gnb #menu.on span:nth-child(2){opacity:0}
#header .gnb #menu.on span:nth-child(3){transform:translateY(-8px) rotate(-225deg);-webkit-transition-delay:0.1s;transition-delay:0.1s}
#container{overflow:hidden;position:relative;z-index:0}
#container .contents{overflow:hidden;position:relative}
.main .q_page{position:fixed;left:40px;top:50%;z-index:1100;transform:translateY(-50%);}
.main .q_page li{padding:5px 0}
.main .q_page li a{display:block;color:rgba(255,255,255,0.4);font-family:Camber,'Camber',sans-serif;font-size:13px;font-weight:500;line-height:35px;vertical-align:top}
.main .q_page li a span:hover{text-decoration:underline}
.main .q_page li a span{display:inline-block}
.main .q_page li.active a{color:rgba(255,255,255,1)}
.main .q_page.on li a{color:rgba(255,255,255,1)}
.main .q_page li.active a span{display:inline-block;position:relative;padding-right:21px}
.main .q_page li.active a span:after{content:'';display:block;position:absolute;right:0;top:50%;width:11px;height:10px;margin-top:-5px;background:url(/kr/img/common/sp_ico.svg) -70px 0 no-repeat;background-size:166px 247px ;vertical-align:top}
.main .section{overflow:hidden;position:relative}
.main .cover .media_bx{overflow:hidden;position:relative;height:100%}
.main .cover .media_bx .mv_bx{position:relative;width:100%;height:100vh}
.main .cover .media_bx .mv_bx video{position:absolute;top:50%;left:50%;width:100vw;height:56.25vw;/* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */min-height:100vh;min-width:177.77vh;/* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */transform:translate(-50%, -50%)}
.main {
		-webkit-transition: background 0.4s ease-in-out 0s;
		transition: background 0.4s ease-in-out 0s;
	}
	
	#magic-cursor {
	  position: absolute;
	  left:0;
	  top:0;
	  width: 30px;
	  height: 30px;
	  pointer-events: none;
	  z-index:10000;
	  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
		transition: opacity 0.2s ease-in-out 0.5s;
	}
	
	.hidden #magic-cursor {
		opacity:0!important;
	}
	
	#ball {
		position: fixed;
		transform: translate(-50%, -50%);
		width: 30px;
		height: 30px;
		border: 2px solid #000;
		border-radius: 50%;
		pointer-events: none;
		opacity:1;
		box-sizing:border-box;	
	}
	
	
	
	.mfp-zoom-out-cur #ball {
		opacity:0;
		-webkit-transition: opacity 0.2s ease-in-out 0s;
		transition: opacity 0.2s ease-in-out 0s;
	}
	
	.light-content #ball, #ball.over-movie,  #ball.with-icon {
		border: 2px solid #fff;
		border-color:#fff!important;
	}
	
	#ball:before {
		font-family: FontAwesome;
		content: "\f053";
		font-size:6px;
		width:4px;
		height:8px;
		line-height:8px;
		text-align:center;
		position:absolute;
		left:-12px;
		top:9px;
		color:#000;
		opacity:0;
		transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	
	.light-content #ball:before {
		color:#fff;
	}
	
	#ball:after {
		font-family: FontAwesome;
		content: "\f054";
		font-size:6px;
		width:4px;
		height:8px;
		line-height:8px;
		text-align:center;
		position:absolute;
		right:-10px;
		top:9px;
		color:#000;
		opacity:0;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	
	.light-content #ball:before, .light-content #ball:after {
		color:#fff;
	}
	
	.scale-up #ball:before, .scale-up #ball:after {
		opacity:1;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	
	.scale-up.scale-none #ball:before, .scale-up.scale-none #ball:after {
		opacity:0;
	}
	
	#ball i {
		color:#000;
		width:29px;
		height:30px;
		line-height:28px;
		text-align:center;
		font-size:6px;
		display:block;
		opacity:1;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	
	.light-content #ball i, #ball.over-movie i, #ball.with-icon i {
		color:#fff;
	}
	
	.scale-up #ball i {
		opacity:0;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	
	#ball.with-icon i {
		width:27px;
	}
	
	#ball.close-icon i {
		width:27px;
		font-size:8px;
	}
	
	#ball.over-movie i.fa-play, #ball.over-movie.pause-movie i.fa-pause {
		display:block;
	}
	
	#ball.over-movie i.fa-pause, #ball.over-movie.pause-movie i.fa-play {
		display:none;
	}
	
	#ball-loader {
		width: 40px;
		height: 40px;
		position:absolute;
		background-color: transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid #000;
		border-left: 2px solid transparent;
		border-top: 2px solid transparent;
		border-radius: 50px;
		box-sizing: border-box;
		opacity:0;
		transform: translate(-9px, -9px) rotate(0deg);
		-webkit-animation: rotating 0.8s ease-in-out infinite;
		animation: rotating 0.8s ease-in-out infinite;
		-webkit-transition: opacity 0.2s ease-in-out 0s;
		transition: opacity 0.2s ease-in-out 0s;
	}
	
	.light-content #ball-loader { 
		border-bottom: 2px solid #fff;
	}
	
	.show-loader #ball-loader {
		opacity:1;
		-webkit-transition: opacity 0.2s ease-in-out 0s;
		transition: opacity 0.2s ease-in-out 0s;
	}
	
	@keyframes rotating {
      0% {
		-webkit-transform: translate(-7px, -7px) rotate(0deg);
		transform:  translate(-7px, -7px) rotate(0deg);
      }
	  
	  95% {
        -webkit-transform:  translate(-7px, -7px) rotate(350deg);
		transform:  translate(-7px, -7px) rotate(350deg);
      }
	  
      100% {
        -webkit-transform:  translate(-7px, -7px) rotate(360deg);
		transform:  translate(-7px, -7px) rotate(360deg);
      }
	}
	
	.show-loader a, .show-loader nav {
		pointer-events:none;
	}
	
	#rotate-device {
		width:100%;
		height:100%;
		position:fixed;
		z-index:1000;
		opacity:0.8;
		top:0;
		left:0;
		background-color:#0f1010;
		background-image:url('http://crafik2.gabia.io/wordpress/wp-content/uploads/2019/11/rotate.png');
		background-size:100px 100px;
		background-position:center;
		background-repeat:no-repeat;
		display:none;
	}

body {margin: 0;}

.ca-container {
	position: relative;
	margin: 0 auto;
	width: 990px;
	height: 450px;
	font-family: arial;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}

.ca-item h3, .ca-item p {padding: 0 20px; font-family: arial; color: white;}

.ca-more-wrap {
	height: 38px;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	bottom: 0;
}

.ca-more {
	padding: 7px 31px;
	background: rgb(255, 255, 255);
	text-align: center;
	color: rgb(52, 152, 219);
	text-decoration: none;
	border-radius: 4px;
}

.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	border-radius: 15px 15px 0 0;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	background-color: #3397db;
	background-image: -webkit-radial-gradient(50% 74%, 100px 100px, rgba(255, 255, 255, 0.4) 0%, rgba(51, 151, 219, 0) 100%);
	background-image: -moz-radial-gradient(50% 74%, 100px 100px, rgba(255, 255, 255, 0.4) 0%, rgba(51, 151, 219, 0) 100%);
	background-image: radial-gradient(50% 74%, 100px 100px, rgba(255, 255, 255, 0.4) 0%, rgba(51, 151, 219, 0) 100%);
	background-position: 0 130px;
}


.ca-item-main img {width: 100%; border-radius: 15px 15px 0 0;}

.ca-content-wrapper{
	position:absolute;
	width:0px;
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}

.ca-content{
	width:660px;
	overflow:hidden;
	background: #2980b9;
	border-radius: 15px;
}

.ca-content-text{
	font-size: 14px;
	font-style: italic;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#fff;
	border-bottom:2px solid #fff;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
	list-style: none;
}
.ca-content ul li a{
	color:#2980b9;
	background:#fff;
	padding:3px 6px;
	font-size:14px;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	text-shadow:none;
}
.ca-nav span {
	width: 25px;
	height: 38px;
	background: transparent url(../images/arrows.png) no-repeat top left;
	position: absolute;
	top: 50%;
	margin-top: -19px;
	left: -40px;
	text-indent: -9000px;
	opacity: 0.7;
	cursor: pointer;
	z-index: 100;
}

.ca-nav span.ca-nav-next{
	background-position: -24px;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}
